
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        <link href="~/Content/dist/vendors/simplebar/css/simplebar.css" rel="stylesheet" />
        <link href="~/Content/dist/css/vendors/simplebar.css" rel="stylesheet" />
        <link href="~/Content/dist/css/style.css" rel="stylesheet" />
        <link href="~/Content/dist/css/examples.css" rel="stylesheet" />
        <link href="~/Content/dist/vendors/coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet" />
    </head>
    <body>
       
        <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
            <div class="sidebar-brand d-none d-md-flex">
                <svg class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
                   
                    <use xlink:href="~/Content/dist/assets/brand/coreui.svg#full"></use>
                </svg>
                <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
                    <use xlink:href="~/Content/dist/assets/brand/coreui.svg#signet"></use>
                </svg>
            </div>
            <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
             
                <li class="nav-group">
                    <a class="nav-link nav-group-toggle" href="#">
                        <svg class="nav-icon">
                            <use xlink:href="~/Content/dist/vendors/coreui/icons/svg/free.svg#cil-bank"></use>
                        </svg> Company Setup
                    </a>
                    <ul class="nav-group-items">
                        <li class="nav-item"><a class="nav-link" @Html.ActionLink("Craete Company", "SETUP_COMPANY", "Company")</li>
                    </ul>
                </li>
                <li class="nav-group">
                    <a class="nav-link nav-group-toggle" href="#">
                        <svg class="nav-icon">
                            <use xlink:href="~/Content/dist/vendors/coreui/icons/svg/free.svg#cil-balance-scale"></use>
                        </svg> Bill Payment
                    </a>
                    <ul class="nav-group-items">
                        <li class="nav-item"><a class="nav-link" @Html.ActionLink("Craete Bill", "Index", "Bill_Gen")</li>
                    </ul>
                </li>

            </ul>
            <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
        </div>
        <div class="wrapper d-flex flex-column min-vh-100 bg-light">
            <header class="header header-sticky mb-4">
                <div class="container-fluid">
                    <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
                        <svg class="icon icon-lg">
                            <use xlink:href="~/Content/dist/vendors/coreui/icons/svg/free.svg#cil-menu"></use>
                        </svg>
                    </button><a class="header-brand d-md-none" href="#">
                        <svg width="118" height="46" alt="CoreUI Logo">
                            <use xlink:href="~/Content/dist/assets/brand/coreui.svg#full"></use>
                        </svg>
                    </a>
                   
                    <ul class="header-nav ms-3">
                        <li class="nav-item dropdown">
                            <a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <div class="avatar avatar-md">
                                    <img class="avatar-img" src="~/Content/dist/assets/img/avatars/8.jpg" alt="user@email.com">
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end pt-0">
                                <div class="dropdown-header bg-light py-2">
                                    <div class="fw-semibold">Account</div>
                                </div>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">
  <a class="nav-link" @Html.ActionLink("Log Out", "Index", "Login")
</a>
                            </div>
                        </li>
                    </ul>
                </div>
                @*<div class="header-divider"></div>*@
                @*<div class="container-fluid">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb my-0 ms-2">
                            <li class="breadcrumb-item">
                                 if breadcrumb is single<span>Home</span>
                            </li>
                            <li class="breadcrumb-item active"><span>Dashboard1</span></li>
                        </ol>
                    </nav>
                </div>*@
            </header>
            <div class="body flex-grow-1 px-3">
                <div class="container-lg">
                    <h4>@ViewBag.Message</h4>
                    @RenderBody()
                </div>
            </div>
            <footer class="footer">
                @*<div><a href="https://coreui.io">CoreUI </a><a href="https://coreui.io">Bootstrap Admin Template</a> &copy; 2023 creativeLabs.</div>
                <div class="ms-auto">Powered by&nbsp;<a href="https://coreui.io/docs/">CoreUI UI Components</a></div>*@
            </footer>
         
        </div>

        <script src="~/Content/dist/vendors/coreui/coreui/js/coreui.bundle.min.js"></script>
        <script src="~/Content/dist/vendors/simplebar/js/simplebar.min.js"></script>
        <script src="~/Content/dist/vendors/chart.js/js/chart.min.js"></script>
        <script src="~/Content/dist/vendors/coreui/chartjs/js/coreui-chartjs.js"></script>
        <script src="~/Content/dist/vendors/coreui/utils/js/coreui-utils.js"></script>
        <script src="~/Content/src/js/main.js"></script>
        @RenderSection("scripts", required: false)
    </body>
  
    </html>
