@model IEnumerable<Final_Project.Models.Company>

    @{
       
        ViewBag.Title = "Company Setup";
    }
@*@using (Html.BeginForm("Edit", "Create", FormMethod.Post))*@
<br />

<p>
    <a class="btn btn-outline-dark" @Html.ActionLink("Create New", "Create")
</p>
<br />
<table class="table table-striped table-hover">
    <thead class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company_Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Company_Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company_Address)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company_Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company_Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Company_Code}) 
            </td>
        </tr>
        }
    </tbody>

</table>